@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sidebar-category {
        @apply w-full text-base ml-3 font-semibold text-secondary dark:text-secondary-dark px-3;
    }

    .sidebar-dropdown {
        @apply w-full flex justify-between items-center px-3 py-3 rounded-md transition duration-300 
        hover:bg-gray-200 dark:hover:bg-gray-700 text-secondary dark:text-secondary-dark hover:text-primary dark:hover:text-primary;
    }

    .sidebar-dropdown-menu {
        @apply ml-4 transition-all duration-300 overflow-hidden;
    }

    .sidebar-link {
        @apply flex  md:justify-start items-center gap-x-4 px-3 py-3 rounded-md transition duration-300 
        text-secondary dark:text-secondary-dark hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-primary dark:hover:text-primary;
    }

    .sidebar-link-active {
        @apply bg-primary text-white hover:bg-primary dark:text-white hover:text-white dark:hover:bg-primary dark:hover:text-white;
    }

    .btn-ghost {
        @apply flex h-10 flex-shrink-0 items-center justify-center gap-x-2 rounded-lg p-2 text-secondary transition-colors 
        hover:bg-gray-200 hover:text-slate-500 dark:hover:bg-gray-700 dark:hover:text-slate-300;
    }

    /* Sidebar Scrollbar */
    
    /* WebKit Scrollbar Styling */
    .sidebar-container::-webkit-scrollbar {
        width: 6px;
    }

    .sidebar-container::-webkit-scrollbar-track {
        background: transparent;
    }

    .sidebar-container::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 10px;
    }

    .sidebar-container:hover::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.3); /* Visible only on hover */
    }
    .dark .sidebar-container:hover::-webkit-scrollbar-thumb {
        background: transparent; /* Visible only on hover in dark mode */
    }
    .title {
        @apply text-3xl font-semibold text-slate-900 transition-colors dark:text-slate-50;
    }

    .btn-ghost {
        @apply flex h-10 flex-shrink-0 items-center justify-center gap-x-2 rounded-lg p-2 text-slate-400 transition-colors hover:bg-blue-50 hover:text-slate-500 dark:hover:bg-blue-950 dark:hover:text-slate-300;
    }

    .link {
        @apply text-base font-medium text-slate-900 transition-colors hover:underline dark:text-slate-50;
    }

    .input {
        @apply hidden h-10 flex-shrink-0 items-center gap-x-2 rounded-lg border border-slate-300 px-2 text-base text-slate-900 transition-colors has-[input:focus]:border-blue-500 md:flex md:w-auto lg:w-80 dark:border-slate-700 dark:text-slate-50 dark:focus:border-blue-600;
    }

    .card {
        @apply flex flex-col gap-y-4 rounded-lg border border-slate-300 bg-white p-4 transition-colors dark:border-slate-700 dark:bg-slate-900;
    }

    .card-header {
        @apply flex items-center gap-x-2;
    }

    .card-title {
        @apply font-medium text-slate-900 transition-colors dark:text-slate-50;
    }

    .card-body {
        @apply flex flex-col gap-y-2 rounded-lg p-4;
    }

    .table {
        @apply h-full w-full text-slate-900 dark:text-slate-50;
    }

    .table-header {
        @apply sticky top-0 bg-slate-200 transition-[background] dark:bg-slate-800;
    }

    .table-row {
        @apply border-b border-slate-300 transition-colors last:border-none dark:border-slate-700;
    }

    .table-head {
        @apply h-12 px-4 text-start;
    }

    .table-cell {
        @apply w-fit whitespace-nowrap p-4 font-medium;
    }
}

.recharts-default-tooltip {
    @apply !rounded-lg !border !border-slate-300 !bg-white transition-colors dark:!border-slate-700 dark:!bg-slate-900;
}

.recharts-tooltip-label {
    @apply text-base font-medium text-slate-900 dark:text-slate-50;
}

.recharts-tooltip-item {
    @apply text-base font-medium !text-blue-500 dark:!text-blue-600;
}

:root {
  --primary-color: #B3252D;
  --primary-light: #E57373;

  --secondary-color: #444444;
  --secondary-dark: #222222;
}

/* Example dark theme */
[data-theme="dark"] {
  --primary-color: #FF9800;
  --primary-light: #FFB74D;

  --secondary-color: #BDBDBD;
  --secondary-dark: #757575;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.quill-editor-fixed {
  min-height: 200px !important;
  height: auto !important;
}

.quill-editor-fixed .ql-container {
  min-height: 150px !important;
}

.quill-editor-fixed .ql-editor {
  min-height: 150px !important;
  overflow-y: auto;
}
.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border-color: #d1d5db !important; /* Tailwind gray-300 */
}

.ql-container {
  flex: 1 !important;
}


